# Параметры

In [1]:
category_size = 500000

# Импорты

In [3]:
import pandas as pd
from sklearn.utils import shuffle

# Считывание данных

In [4]:
df_cell_phones = pd.read_json(r"dataset\Cell_Phones_and_Accessories\Cell_Phones_and_Accessories.json", lines=True, nrows=category_size)
df_clothing_jewelry = pd.read_json(r"dataset\Clothing_Shoes_and_Jewelry\Clothing_Shoes_and_Jewelry.json", lines=True, nrows=category_size)
df_electronics = pd.read_json(r"dataset\Electronics\Electronics.json", lines=True, nrows=category_size)
df_home_kitchen = pd.read_json(r"dataset\Home_and_Kitchen\Home_and_Kitchen.json", lines=True, nrows=category_size)
df_sports_outdoors = pd.read_json(r"dataset\Sports_and_Outdoors\Sports_and_Outdoors.json", lines=True, nrows=category_size)
df_toys_games = pd.read_json(r"dataset\Toys_and_Games\Toys_and_Games.json", lines=True, nrows=category_size)
df = pd.concat([df_cell_phones, df_clothing_jewelry, df_electronics, df_home_kitchen, df_sports_outdoors, df_toys_games], ignore_index=True)
df = shuffle(df).reset_index(drop=True)

In [5]:
df['class'].value_counts()

1    2338983
0     661017
Name: class, dtype: int64

In [6]:
df_fake = df[df['class'] == 1]
df_true = df[df['class'] == 0]
df_fake_downsampled = df_fake.sample(df_true.shape[0])

In [7]:
df = pd.concat([df_fake_downsampled, df_true])
df['class'].value_counts()

1    661017
0    661017
Name: class, dtype: int64

In [8]:
df.to_csv('amazon_reviews_small.csv', index = False)

In [9]:
df

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
711511,{'$oid': '5a13229a741a2384e839efb6'},A2PZ0XK87SU6AX,B0007SUEVA,klockard,"[5, 5]",I really LOVE these shoes. I can't take them o...,5,Comfy Comfy,1325548800,"01 3, 2012",Clothing_Shoes_and_Jewelry,1
617738,{'$oid': '5a132443741a2384e8959cf5'},AA1ZBC2OY1E44,B00020S7XK,Chris,"[0, 0]",I have purchased this item 3 times as it makes...,4,Nice radio with good sound.,1380672000,"10 2, 2013",Electronics,1
1758439,{'$oid': '5a13229f741a2384e83be050'},A98CVPXXQDYG8,B000BPO6VI,CH,"[0, 0]",Don't wear this every day! It is a bit flimsy...,4,Cute and comfy-,1366588800,"04 22, 2013",Clothing_Shoes_and_Jewelry,1
1098068,{'$oid': '5a13276f741a2384e84a1ec0'},A1YELVG03O68F8,B00077D7W4,F. Bican,"[0, 0]",It was the largest one I could haul into an up...,5,Stack-on,1162512000,"11 3, 2006",Sports_and_Outdoors,1
1988103,{'$oid': '5a13277a741a2384e84df97f'},A3C06FTVCUAQR9,B000FLPXM4,DIANE R BARKLEY,"[0, 0]",I liked this product. They are easy to adjust...,4,Ankle weights,1382054400,"10 18, 2013",Sports_and_Outdoors,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2999979,{'$oid': '5a1322a7741a2384e83ed0a2'},A1IJO1KPUHM74E,B000IUY4DQ,mfamily,"[0, 0]","Very cute, but scratchy inside and way too sma...",2,Too small and scratchy!,1385251200,"11 24, 2013",Clothing_Shoes_and_Jewelry,0
2999980,{'$oid': '5a1321ee741a2384e80b0ecc'},A179W3JALA7HOG,B0040WDDUS,Bert,"[0, 0]","After recieving 3 took all 3 to get 1 right, t...",1,cheap and hard to apply,1377648000,"08 28, 2013",Cell_Phones_and_Accessories,0
2999981,{'$oid': '5a132295741a2384e8383d81'},A3NQZZS0TCPK68,B0001DYW64,J. Stone,"[0, 0]",I was definitely not impressed with this produ...,1,Very Poor,1364342400,"03 27, 2013",Clothing_Shoes_and_Jewelry,0
2999983,{'$oid': '5a132442741a2384e8954d8c'},A2Q7PILAYU3AKM,B0001I95CA,Johnny Quest,"[3, 4]",I also ordered this item but received the 512M...,1,Not Happy.,1229904000,"12 22, 2008",Electronics,0
2999984,{'$oid': '5a132445741a2384e8962405'},A3QERORFVHRZAZ,B0002BWC0I,Bernice M. Hall,"[3, 4]",The price for the power supply was unbelievabl...,1,Amping up the Power,1358553600,"01 19, 2013",Electronics,0